{% include "base.html" %}
{% block content %}
{% include "navbar.html" %}

<body>
<div class="container">
{% for i in cart.items.all %}
<div class="post-group">
    <ul class="list-group">
        <li class="list-group-item">{{ i.post.image }}</li>
        <li class="list-group-item">{{ i.post.title }} ${{ i.post.price }}</li>
        <li class="list-group-item">{{ i.post.desc }}</li>
        <form action="{% url 'cart:modqty' pk=i.pk %} " method="POST">
            {% csrf_token %}
            <input
            type="number"
            id="qty"
            name="qty"
            value="{{i.qty}}"
            class="text-center list-group-item"
        />    
        <button type="submit">submit</button>
        </form>
    </ul>
</div>
<a href="{% url 'cart:removeitem' pk=i.pk %}">remove</a>
{% endfor %}
{{cart.cartotal}}
<form action="{% url 'cart:checkout' %}" >
    <button type="submit" class="btn btn-info text-light">checkout</button>
</a>
</div>
<style>
    .post-group{
        padding-top: 50px;
    }
    .container{
        padding-bottom: 100px;
    }
</style>
</body>
{% endblock content %}
