<ul class="list-group mb-3">
    {% for i in cart.items.all %}
    <li class="list-group-item d-flex justify-content-between lh-sm">
      <div>
        <h6 class="my-0">{{i.post.title}}</h6>
        <small class="text-muted">{{ i.post.desc }}</small>
      </div>
      <span class="text-muted">${{ i.total }} x{{ i.qty }}</span>
    </li>
    {% endfor %}
    <li class="list-group-item d-flex justify-content-between">
      <span>Total</span>
      <strong>${{cart.cartotal}}</strong>
    </li>
  </ul>