<div class="modal fade" id="addressmodal" tabindex="-1" role="dialog" aria-labelledby="addressmodal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
              {% for i in addresses %}
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">{{i.full_name}}</h6>
                  <small class="text-muted">{{ i.street_address }}</small>
                  {% if address.apartment == None %}
                  {% else %}
                  <small class="text-muted">{{ i.apartment }}</small>
                  {% endif %}
                  <small class="text-muted">{{ i.state }}</small>
                  <small class="text-muted">{{ i.country }}</small>
                      <div class="">
                          <small class="text-muted">{{ i.zip_code }}</small>
                       
                    {% include "includes/components/deletewarningA.html" %}
                    {% if i.selected == True %}
                    <small>selected address</small>
                    {% else %}
                    <a href="{% url 'cart:selectaddress' pk=i.pk a_or_b='a' %}">select</a>
                    {% endif %}
                    {% if i.samebilling == True %}
                    <a href="{% url 'cart:samebilling' pk=i.pk action='uncheck' %}">selected billing address</a>
                    {% else %}
                    <a href="{% url 'cart:samebilling' pk=i.pk action='check' %}">same as billing</a>
                    {% endif %}
                    
                  </div>
                </div>
              </li>
              {% endfor %}
            </div>
            <div class="modal-footer">
                    <button type="button"  data-bs-dismiss="modal" class="btn btn-primary" data-dismiss="modal">Go back</button>
                </form>
            </div>
        </div>
    </div>
</div>