{% for i in billing %}
<li class="list-group-item d-flex justify-content-between lh-sm">
  <div>
    <h6 class="my-0">{{i.full_name}}</h6>
    <small class="text-muted">{{ i.street_address }}</small>
    {% if address.apartment == None %}
    {% else %}
    <small class="text-muted">{{ i.apartment }}</small>
    {% endif %}
    <small class="text-muted">{{ i.state }}</small>
    <small class="text-muted">{{ i.country }}</small>
        <div class="">
            <small class="text-muted">{{ i.zip_code }}</small>
            {% if i.selected == False %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deletebillingwarning">
                delete address
                </button>
            {% endif %}
            <div class="modal fade" id="deletebillingwarning" tabindex="-1" role="dialog" aria-labelledby="deletebillingwarningLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            Are you sure you want to delete this address?
                        </div>
                        <div class="modal-footer">
                            <form action="{% url 'cart:deleteaddress' pk=i.pk a_or_b='b' %}"> 
                                <button type="button"  data-bs-dismiss="modal" class="btn btn-primary" data-dismiss="modal">Go back</button>
                                <button type="submit" class="btn btn-secondary">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
      {% if i.selected == True %}
      <small>selected address</small>
      {% else %}
      <a href="{% url 'cart:selectaddress' pk=i.pk a_or_b='b' %}">select</a>
      {% endif %}
     
    </div>
  </div>
</li>
{% endfor %}