{% for i in addresses %}
{% if i.selected == True %}
<li class="list-group-item d-flex justify-content-between lh-sm">
    <div>
      <h6 class="my-0">{{i.full_name}}</h6>
      <small class="text-muted">{{ i.street_address }}</small>
      {% if address.apartment == None %}
      {% else %}
      <small class="text-muted">{{ i.apartment }}</small>
      {% endif %}
      <small class="text-muted">{{ i.state }}</small>
      <small class="text-muted">{{ i.country }}</small>
        <div class="">
            <small class="text-muted">{{ i.zip_code }}</small>
        {% if i.selected == True %}
        <small>selected address</small>
        {% else %}
        <a href="{% url 'cart:selectaddress' pk=i.pk a_or_b='a' %}">select</a>
        {% endif %}
        {% if i.samebilling == True %}
        <a href="{% url 'cart:samebilling' pk=i.pk action='uncheck' %}">selected billing address</a>
        {% else %}
        
        <a href="{% url 'cart:samebilling' pk=i.pk action='check' %}">same as billing</a>
        {% endif %}
        
      </div>
    </div>
</li>
{% endif %}
{% endfor %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressmodal">
  choose address
</button>