<div class="modal fade" id="deletewarning" tabindex="-1" role="dialog" aria-labelledby="deletewarningLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to delete this address?
            </div>
            <div class="modal-footer">
                <form action="{% url 'cart:deleteaddress' pk=i.pk a_or_b='a' %}"> 
                    <button type="button"  data-bs-dismiss="modal" class="btn btn-primary" data-dismiss="modal">Go back</button>
                    <button type="submit" class="btn btn-secondary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% if i.selected == False %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deletewarning">
delete address
</button>
{% endif %}