{% include "base.html" %}
{% block content %}
{% include "navbar.html" %}
<div class="container">
<p class="text-center">
    {{user.username}}
</p>
<div class="text-center">
<a href="">orders</a>   
</div>
<div class="text-center">
<a href="">sales</a>   
</div>

{% for post in posts %}
<div class="post-group">
    <ul class="list-group">
        <li class="list-group-item">{{ post.image }}</li>
        <li class="list-group-item">{{ post.title }} ${{ post.price }}</li>
        <li class="list-group-item">{{ post.desc }}</li>
    </ul>
        <button type="submit">edit</button>
</div>
{% endfor %}
</div>

{% endblock content %}
<style>
    .post-group{
        padding-top: 50px;
    }
    .container{
        padding-bottom: 100px;
    }
</style>